@media print {
  @page repair-ticket {
    size: 80mm auto;
    margin: 0;
  }

  .repair-ticket-print {
    page: repair-ticket;

    width: 68mm !important;
    max-width: 68mm !important;
    margin: 0 auto !important;
    padding: 2mm !important;

    box-sizing: border-box !important;

  }
}